* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(0, 0, 0); /* rgb(49, 49, 49*/
}

@font-face {
  font-family: "f-01";
  src: url(/fonts/FujitaRay.ttf);
}
@font-face {
  font-family: "f-02";
  src: url(/fonts/minotaur.ttf);
}
@font-face {
  font-family: "f-03";
  src: url(/fonts/BungeeHairline-Regular.ttf);
}
@font-face {
  font-family: "f-04";
  src: url(/fonts/Melete-UltraLight.otf);
}
@font-face {
  font-family: "f-05";
  src: url(/fonts/as.ttf);
}
@font-face {
  font-family: "f-06";
  src: url(/fonts/RootUI-P.ttf);
}
.title-b {
  color: rgb(221, 218, 44);
  font-size: 3rem;
  font-family: "f-04";
  filter: drop-shadow(0 0 0.2rem rgb(0, 0, 0));
}
h1 {
  font-family: "f-04";
  font-size: 1rem;
  color: rgba(226, 226, 226, 0.315);
  text-align: end;
  padding: 10px;
  letter-spacing: 8px;

}
.bt-word {
  position: absolute;
text-align: end;
bottom: 0;
right: 0;
  }

.bt-word p{
  font-family: "f-04";
  font-size: 1.2rem;
  color: rgba(226, 226, 226, 0.315);
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.452));

  letter-spacing: 8px;
  filter: drop-shadow(0 0 0.2rem rgb(43, 43, 43));
  }
.bt-word span{
  font-family: "f-01";
  font-size: 5rem;
  color: rgba(221, 218, 44, 0.507);

  }


h2 {
  font-family: "f-02";
  font-size: 4rem;
  color: rgb(221, 218, 44);
  margin: 10px;
  text-align: center;
}
h4 {
  font-size: 2rem;
  color: rgb(221, 218, 44);
  font-family: "f-04";
  margin-left: 20px;
}


p {
  color: white;
  font-family: "lato";
  font-size: 0.8rem;
}
header img {
  z-index: 3;
}
header h1 {
  z-index: 1;
}
.header {
  position: absolute;
  margin: 0;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgb(221, 218, 44);
  filter: blur(1.5rem);
}
.max {
  text-align: center;
  margin: 3px;
}

.max p {
  font-family: "f-02";
  letter-spacing: 4px;
  font-size: 3rem;
  animation-duration: 3.5s;
  animation: slidetop 3s ease;
  margin-top: 110px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slide-left {
  from {
    margin-right: 100%;
    width: 300%;
  }
  to {
    margin-right: 0%;
    width: 100%;
  }
}
@keyframes slidetop {
  from {
    margin-top: 0%;
    height: 10%;
  }
  to {
    margin-top: 5.8%;
    height: 30%;
  }
}

.intro-text {
  font-size: 1.5rem;
  margin-left: 125px;
  font-family: "f-03";
  padding-top: 160px;
  font-weight: bolder;
}
.boxes {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}
.boxes a {
  text-decoration: none;
}
.boxes h4 {
  font-family: "f-04";
  font-size: 1rem;
  right: auto;
  left: auto;
  padding: 15px;
}

.box-01 {
  background-color: rgba(0, 0, 0, 0.966);
  margin: 50px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(221, 218, 44, 0.733);
  text-align: center;
  transition: transform 0.3s ease-in;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.466));
}
.box-01:hover {
  filter: drop-shadow(0 0 0.7rem rgb(221, 218, 44));
  cursor: pointer;
}
.box-02 {
  background-color: rgba(0, 0, 0, 0.966);
  margin: 50px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(221, 218, 44, 0.733);
  text-align: center;
  transition: transform 0.3s ease-in;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.466));
}
.box-02:hover {
  filter: drop-shadow(0 0 0.7rem rgb(221, 218, 44));
  cursor: pointer;
}

.description {
  font-size: 11rem;
}
.description span {
  font-family: "f-05";
  font-size: 1.1rem;
  display: block;
}

.description2 {
  font-size: 11rem;
}
.description2 span {
  font-family: "f-04";
  font-size: 1.1rem;
  display: block;
}
.letter {
  font-family: "f-02";
}

.box-03 {
    background-color: rgba(0, 0, 0, 0.966);
  margin: 50px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(221, 218, 44, 0.733);
  text-align: center;
  transition: transform 0.3s ease-in;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.466));
}
.box-03:hover {
  filter: drop-shadow(0 0 0.7rem rgb(221, 218, 44));
  cursor: pointer;
}
.box-04 {
  background-color: rgba(0, 0, 0, 0.966);
  margin: 50px;
  height: 300px;
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 0 0.5rem rgba(221, 218, 44, 0.733);
  text-align: center;
  transition: transform 0.3s ease-in;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.466));
}
.box-04:hover {
  filter: drop-shadow(0 0 0.7rem rgb(221, 218, 44));
  cursor: pointer;
}
.logo01 {
  margin: 20px;
  position: absolute;
  top: 0;
  z-index: 3;
}
.l-01 img {
  max-width: 70px;
  height: auto;
  z-index: 3;
}
#logo {
  transition: filter 0.3s ease;
  position: fixed;
  z-index: 3;
}
#logo-02 {
  visibility: hidden;
  z-index: 3;
}

.images-home {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.images-home img {
  /*
  width: 250px;
  height: auto;
  left: auto;
  right: auto;
    margin-top: 80px;
  */
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.733));
  transition: transform 2s ease-out;
}
.images-home p {
  font-family: "f-06";
  margin: 30px;
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.247));
}
.images-home img:hover {
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.911));
}

@keyframes tap {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes levitation01 {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-15px);
  }
}
@keyframes levitation02 {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(15px);
  }
}
@keyframes levitation03 {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(-15px);
  }
}
@keyframes levitation04 {
  from{
    transform: translateY(0px);
  }
  to{
    transform: translateY(15px);
  }
}
.ih {
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
  border: 1px rgb(255, 255, 255);
}

.img{
  transition: all 1s ease-in;
  position: absolute;
}
#imgH01{
  animation: levitation01 3.53s infinite alternate ease-in;
}

#imgH02{
  animation: levitation02 3.53s infinite alternate ease-in;
}
#imgH03{
  animation: levitation03 3s infinite alternate ease-in;
}
#imgH04{
  animation: levitation04 3s infinite alternate ease-in;
}
.img-h01{
  position: absolute;
  width: 220px;
  height: auto;
 left: 580px;
  top: 380px;
  cursor: pointer;
}
.img-h01:hover{
  transform: translate(10%, 10%);
}
.img-h02{
  position: absolute;
    width: 220px;
  height: auto;
  left: 970px;
  top: 380px;
}
.img-h02:hover{
  transform: translate(-10%, 10%);
}
.img-h03{
  position: absolute;
    width: 220px;
  height: auto;
  left: 770px;
  top: 490px;
}
.img-h03:hover{
  transform: translate(10%, -10%);
}
.img-h04{
  position: absolute;
  width: 220px;
  height: auto;
 left: 770px;
  top: 250px;
}
.img-h04:hover{
  transform: translate(-10%, 10%);
}

/*
.img-h01 {
  top: 0%; 
  left: 0%; 
}
.ih:hover .img-h01{
  transform: translate(50%, 50%);
}
.img-h02 {
  bottom: 0%; 
  left: 0%; 
}
.ih:hover .img-h02{
  transform: translate(-50%, 50%);
}
.img-h03 {
  top: 0%;
  right: 0%;
}
.ih:hover .img-h03{
  transform: translate(50%, -50%);
}
.img-h04 {
  bottom: 0%;
  right: 0%;
}
.ih:hover .img-h04{
  transform: translate(-50%, -50%);
}
*/







.button-01 {
  color: rgb(221, 218, 44);
  background-color: transparent;
  position: absolute;
  top: 200px;
  font-size: 1.5rem;
  font-family: "f-04";
  letter-spacing: 2px;
  padding: 4rem;
  border: none;
  right: 120px;
  transition: transform 2s ease-in-out;
}
.bt {
  position: absolute;
  font-family: "f-04";
  bottom: 30px;
}
.button-01 a {
  text-decoration: none;
}
.button-01:hover {
  cursor: pointer;
  transform: scaleX(1.05);
}
#home{
  position: relative;
  height: 1080px;
}
#s-01{
  position: relative;
  height: 480px;
}
#s-02-productos {
  position: relative;
  height: 480px;
  background-color: red;
  top: 440px;
  /*
  background-color: crimson;
  justify-content: center;
  align-items:center ;
  display: flex
  */
}
#s-02-productos h4{
top: 850px;
}
#s-03-servicios {
  position: relative;
  height: 480px;
}
#s-04-sobreNosotros {
  position: relative;
  height: 480px;
}

.photos {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 50px;
}
.members {
  font-size: 4rem;
  text-align: center;
  margin: 10px;
}
.t-01 {
  position: absolute;
  text-align: center;
  margin: 20px;
  top: 380px;
}
.t-01 h4{
  font-size:4rem;
  text-align: center;
font-family: "f-04";
}

.p-01 {
  margin: 5px;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.733));
}
.p-01:hover {
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.911));
  cursor: pointer;
}
.p-01 img {
  width: 120px;
}
.p-img-01 {
  width: 80px;
  height: auto;
  -webkit-clip-path: polygon(0 0, 100% 0, 50% 150%);
  clip-path: polygon(0 0, 100%, 50% 150%);
}

.p-02 {
  width: 0px;
  height: 0px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 150px solid #9984d4;
  margin: 5px;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.733));
}
.p-02:hover {
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.911));
  cursor: pointer;
}
.p-03 {
  width: 0px;
  height: 0px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 150px solid #9984d4;
  margin: 5px;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.733));
}
.p-03:hover {
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.911));
  cursor: pointer;
}
.p-04 {
  width: 0px;
  height: 0px;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-top: 150px solid #9984d4;
  margin: 5px;
  filter: drop-shadow(0 0 1.5rem rgba(221, 218, 44, 0.733));
}
.p-04:hover {
  filter: drop-shadow(0 0 0.7rem rgba(221, 218, 44, 0.911));
  cursor: pointer;
}
.name {
  position: absolute;
  text-align: center;
  margin: 30px;
}

.status-bar {
  position: fixed;
  top: 10px;
  width: 100%;
  height: 5px;
  background-color: #cccccc38;
  z-index: 2;
}
.borrador {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  z-index: 2;
}

footer {
  z-index: 2;
  width: 100%;
  height: 200px;
  background-color: rgba(221, 218, 44, 0.089);
  bottom: 0;
  backdrop-filter: blur(10px);
}
.TX {
  z-index: 3;
  font-size: 1.175rem;

  justify-content: end;
  align-items: end;
  display: flex;
}
.TX-text p {
  top: auto;
  padding: 50px;
  color: #fff;
}

.content-footer {
display: flex;
flex-direction: column;
}

.content-footer p {
justify-content: center;
text-align: center;
align-items:center;
}

.title-bar {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  z-index: 3;
}
.title-bar h1 {
  font-size: 2rem;
  text-align: end;
  color: black;
}

/* Sides */
.sides img{
  top: 0;
}
.right-side {
  position: absolute;
  right: 10px;
  top: 155px;
}
.rightS img {
  max-width: 140px;
  height: 700px;
  opacity: 0.1;
  animation: escalar 2s ease;
  transition: transform 1s ease-in-out;
}

.rightS img:hover {
  opacity: 0.1;
  cursor: pointer;
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

.text-sideR {
  position: absolute;
  background-color: transparent;
  border: none;
  right: 65px;
  bottom: 90px;
  transition: transform 3s ease;
}
.text-sideR:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.text-button {
  transform-origin: left center;
  position: absolute;
  transform: rotate(270deg);
  font-size: 2.5rem;
  color: white;
  font-family: "f-04";
  letter-spacing: 2px;
  font-weight: bold;
}

.left-side {
  position: absolute;
  left: 10px;
  top: 155px;
}
.leftS img {
  width: 140px;
  height: 700px;
  animation: escalar 2s ease;
  opacity: 0.1;
  transition: transform 1s ease-in-out;
}
.leftS img:hover {
  opacity: 0.1;
  cursor: pointer;
  transform: scale(1.02);
  filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}

@keyframes escalar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.text-home{
position: absolute;
display: flex;
align-items: center;
top: 580px;
margin: 150px;
}
.th{
padding: 80px;
text-align: center;

}
.th p{
  font-size:1rem;
}

.created{
  display: flex;
  flex-direction: column;
}
.c-img img{
  align-items: end;
  width: 45px;
  height: auto;
  margin: 25px;
}